{% extends 'layout.html' %}
{% block content %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/bono/update_bono/{{bono.0}}" method="post">
            <div class="form-group">
                <input type="text" name="valor" placeholder="valor" class="form-control" value="{{bono.1}}">
            </div>
            <div class="form-group">
                <p>Fecha: </p>
                <input type="date" name="fecha" class="form-control" value="{{bono.2}}">
            </div>
            <div class="form-group">
                <select name="user" class="form-control"  value="{{bono.3}}">
                    {% for usr in user%}
                    <option value="{{ usr.0}}">
                        {{ usr.1 }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Guardar
                </button>
            </div>
        </form>
    </div> 
</div>
{% endblock %}