{% extends 'layout.html' %}
{% block content %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update_user/{{user.0}}" method="post">
            <div class="form-group">
                <input type="text" name="name" placeholder="names" class="form-control" value="{{user.1}}">
            </div>
            <div class="form-group">
                <input type="text" name="cedula" placeholder="cedula" class="form-control" value="{{user.2}}">
            </div>
            <div class="form-group">
                <input type="text" name="edad" placeholder="age" class="form-control" value="{{user.3}}">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}